<div id="id05" class="modal">
    <!-- <span onclick="document.getElementById('id02').style.display='none'" class="close" -->
    <!-- title="Close Modal">&times;</span> -->
    <form id="add_prod_form" class="modal-content animate" action="#">
        <h1 style="margin:10px">Add Product</h1>
        <div class="container">

            <div id="edit_modal_prod_info" style="display: none;">
                <span></span>
            </div>

            <label for="name"><b>Product Name</b></label>
            <input type="text" placeholder="Enter Name" name="name" id="prod_name" required>

            <div id="dropdown">
                <label for="category"><b>Category</b></label>
                <input list="categ_list" id="category" name="category" required placeholder="Pick Category">

                <datalist id="categ_list">
                    <!-- here all the category options will be injected through javascript -->
                </datalist>
            </div>

            <label for="description"><b>Description</b></label>
            <input type="text" id="desc" placeholder="Enter Description" name="description">

            <label for="price"><b>Price</b></label>
            <input type="number" id="price" placeholder="Enter Price" name="price" required>


            <div class="clearfix">
                <button type="button" onclick="document.getElementById('id05').style.display='none'"
                    class="cancelbtn">Cancel</button>
                <button type="submit" class="signupbtn"
                    style="height: 36px;width:75px;background-color: green;color: white;border: none;cursor: pointer;">Add</button>
            </div>
        </div>
    </form>
</div>