<div class="alert">
    <span class="closebtn">&times;</span>
    <strong>Danger!</strong>
    <span>Indicates a dangerous or potentially negative action.</span>
</div>

<div class="alert success">
    <span class="closebtn">&times;</span>
    <strong>Success!</strong>
    <span>Indicates a successful or positive action.</span>
</div>

<div class="alert info">
    <span class="closebtn">&times;</span>
    <strong>Info!</strong>
    <span>Indicates a neutral informative change or action.</span>
</div>

<div class="alert warning">
    <span class="closebtn">&times;</span>
    <strong>Warning!</strong>
    <span>Indicates a warning that might need attention.</span>
</div>