<table id="myTable">

    <tr class="header">
        <th>Item</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total</th>
        <th>Delete</th>

    </tr>
    <tr>
        <td>Palak Paneer</td>
        <td>80</td>
        <td>2</td>
        <td>160</td>
        <td>
            <div style="display: flex;">
                <!-- <label class="switch"><input type="checkbox"><span class="slider round"
                        title="user status"></span></label> -->
                <span class="material-symbols-outlined delt_icon" title="delete user">delete</span>
                <!-- <span class="material-symbols-outlined edit_icon" title="edit user">edit</span> -->
            </div>
        </td>
    </tr>

</table>