<div id="id04" class="modal">

    <form id="edit_prod_form" class="modal-content animate" action="#">
        <div id="cust_details" class="container" style="border: 1px solid green;padding: 30px;margin: 20px;">

            <h3 style="color:green;">Edit Product</h3><br>
            <hr><br>

            <div id="edit_modal_prod_info" style="display: none;">
                <span></span>
            </div>

            <label for="name"><b>Product Name</b></label>
            <input type="text" placeholder="Enter Name" name="name" id="edit_prod_modal_prod_name" required>

            <div id="dropdown">
                <label for="category"><b>Category</b></label>
                <input list="categ_list" id="edit_prod_modal_category" name="category" required
                    placeholder="Pick Category">

                <datalist id="categ_list">
                    <!-- here all the category options will be injected through javascript -->
                </datalist>
            </div>

            <label for="description"><b>Description</b></label>
            <input type="text" id="edit_prod_modal_desc" placeholder="Enter Description" name="description">

            <label for="price"><b>Price</b></label>
            <input type="number" id="edit_prod_modal_price" placeholder="Enter Price" name="price" required>




            <button type="button" onclick="document.getElementById('id04').style.display='none'" class="cancelbtn"
                style="float: left;font-weight: bold;width: auto;padding: 10px 18px;background-color: red;color: black; border: none;cursor: pointer;">Cancel</button>
            <button type="reset"
                style="float: right;font-weight: bold;width: auto;padding: 10px 18px;background-color: red;color: black; border: none;cursor: pointer;">Clear
                Fields
            </button><br><br>
            <button class="modal_btn" type="submit">Update</button>


        </div>
    </form>
</div>