<div id="id04" class="modal">
    <!-- <span onclick="document.getElementById('id02').style.display='none'" class="close"
        title="Close Modal">&times;</span> -->
    <form id="edit_prod_form" class="modal-content animate" action="#">
        <h1>Edit Product</h1>
        <div class="container">

            <div id="edit_modal_prod_info" style="display: none;">
                <span></span>
            </div>

            <label for="name"><b>Product Name</b></label>
            <input type="text" placeholder="Enter Name" name="name" id="edit_prod_modal_prod_name" required>

            <div id="dropdown">
                <label for="category"><b>Category</b></label>
                <input list="categ_list" id="edit_prod_modal_category" name="category" required
                    placeholder="Pick Category"
                    style="height: 40px;padding: 19px;width: 100%;border: 1px solid #0000004a;margin-left: 1px;margin-top: 5px;margin-bottom: 10px;">

                <datalist id="categ_list">
                    <!-- here all the category options will be injected through javascript -->
                </datalist>
            </div>

            <label for="description"><b>Description</b></label>
            <input type="text" id="edit_prod_modal_desc" placeholder="Enter Description" name="description">

            <label for="price"><b>Price</b></label>
            <input type="number" id="edit_prod_modal_price" placeholder="Enter Price" name="price" required>


            <div class="clearfix">
                <button type="button" onclick="document.getElementById('id04').style.display='none'"
                    class="cancelbtn">Cancel</button>
                <button type="submit" class="signupbtn"
                    style="height: 36px;width:75px;background-color: green;color: white;border: none;cursor: pointer;">Update</button>
            </div>
        </div>
    </form>
</div>