<table id="productTable">

    <tr class="header">
        <th>Name</th>
        <th>Email</th>
        <th>Contact Number</th>
        <th>Action</th>

    </tr>
    <tr>
        <td>Amresh</td>
        <td>amresh@gmail.com</td>
        <td>1234567890</td>
        <td>
            <div style="display: flex;">
                <label class="switch"><input type="checkbox"><span class="slider round"
                        title="user status"></span></label>
                <span class="material-symbols-outlined delt_icon" title="delete user">delete</span>
                <span class="material-symbols-outlined edit_icon" title="edit user">edit</span>
            </div>
        </td>
    </tr>

</table>