<!-- body of the table -->
<table id="myTable">




    <!-- commented out here, content(other rows) will be injected through javascript by fetching data(fetch api): -->

    <!-- <tr class="header">
        <th>Name</th>
        <th>Category</th>
        <th>Description</th>
        <th>Price ( &#8377; )</th>
        <th>Action</th>

    </tr> -->
    <!-- <tr>
        <td>Orange Juice</td>
        <td>Juice</td>
        <td>Chilled with ice</td>
        <td>50</td>
        <td>
            <div style="display: flex;">
                <label class="switch"><input type="checkbox" checked><span class="slider round"></span></label>
                <span class="material-symbols-outlined delt_icon">delete</span>
                <span class="material-symbols-outlined edit_icon">edit</span>
            </div>
        </td>
    </tr> -->



</table>