<div class="navbar">
    <a href="" title="home"><span class="material-symbols-outlined">home</span></a>
    <a href="/logout" title="logout"><span class="material-symbols-outlined">logout</span></a>
</div>