* {
    box-sizing: border-box
}

body {
    font-family: "Lato", sans-serif;
}

/* Style the tab */
.tab {
    margin: auto;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    overflow: scroll;
    border-bottom: 5px solid green;
    margin-bottom: 5px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.tab::-webkit-scrollbar {
    display: none;
}




/* Style the buttons inside the tab */
.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}


/* Change background color of buttons on hover */
.tab button:hover {
    background-color: rgba(143, 176, 143, 0.365);
    ;
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: green;
    color: white;
}

/* Style the tab content */
.tabcontent {
    border: 1px solid #ccc;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.tabcontent::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.tabcontent {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}