* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    width: 100%;
    background-color: green;
    overflow: auto;
    height: 82px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;

}

.navbar a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    scale: 1.02;
}

.active {
    background-color: green;
}

@media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: block;
    }
}