        /* Table styling------------------------------------------------------------------- */
        * {
            box-sizing: border-box;
        }



        /* -------------------------------- */
        #myInput {
            /* background-image: url('/css/searchicon.png'); */
            background-position: 10px 12px;
            background-repeat: no-repeat;
            width: 100%;
            font-size: 16px;
            padding: 12px 20px 12px 40px;
            border: 1px solid #ddd;
            background-color: rgba(143, 176, 143, 0.365);
            margin-bottom: 12px;
        }

        #myInput:focus {
            border: none;
            outline: none;
            border-bottom: 4px solid green;
        }

        /* -------------------------------- */

        #productTable,
        #billsTable,
        #orderTable {
            border-collapse: collapse;
            width: 100%;
            border: 1px solid #ddd;
            font-size: 18px;
        }

        #productTable th,
        #billsTable th,
        #orderTable th,
        #billsTable th,
        #productTable td,
        #billsTable td,
        #orderTable td {
            text-align: left;
            padding: 12px;
        }

        #productTable tr,
        #billsTable tr,
        #orderTable tr {
            border-bottom: 1px solid #ddd;
        }

        #orderTable tr.header,
        #billsTable tr.header,
        #productTable tr:hover,
        #billsTable tr:hover,
        #orderTable tr.header,
        #billsTable tr.header,
        #productTable tr:hover,
        #billsTable tr:hover {
            background-color: #f1f1f1;
        }